.checkbox-container {
  @apply flex items-center relative mx-4;

  input {
    @apply w-4 h-4 text-[#6B8063] bg-gray-100 rounded appearance-none checked:text-[#6B8063] border-gray-300 checked:bg-[#6B8063];
  }

  input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 2px;
    width: 0.5rem;
    height: 0.8rem;
    padding: 2px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  label {
    @apply pt-[2px] ms-2 text-sm font-medium text-[#3A412C] w-full cursor-pointer;
  }
}