//@use '@/styles/variables.scss' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Встановлення ширини і висоти на весь екран */
  width: 100vw;
  height: 100vh;

  /* Загальний фон */
  //background: $white-smoke; /* світло-сірий */
  //color: $t-bright--dark; /* стандартний колір тексту */
  
  /* Для забезпечення спадковості */
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #FEF7FE, #FEFBF7);
  //justify-content: center;
}

// body {
//   height: 100vh;
//   background: linear-gradient(90deg, #FEF7FE, #FEFBF7);
//   //background: linear-gradient(120deg, #6B8063 0%, #A5B49A 50%, #FEF7FE 100%);
//   //overflow: hidden; 
//   position: relative;
// }

/* Перша форма */
// body::before,
// body::after {
//   position: absolute;
//   content: "";
//   width: 250px;
//   height: 250px;
//   background: #D49A7A;
//   border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
//   will-change: border-radius, transform, opacity;
//   animation: sliderShape 5s linear infinite;
//   display: block;
//   z-index: -1;
//   -webkit-animation: sliderShape 5s linear infinite;
//   opacity: 0.7;
// }

// /* Друга форма */
// body::after {
//   width: 400px;
//   height: 400px;
//   background: #9B0D0F;
//   border-radius: 50% 50% 40% 60% / 60% 40% 50% 50%;
//   animation: sliderShape2 7s linear infinite;
//   left: 70%;
//   top: 50%;
// }

// @keyframes sliderShape {
//   0%, 100% {
//     border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
//     transform: translate3d(0, 0, 0) rotateZ(0.01deg);
//   }
//   34% {
//     border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
//     transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
//   }
//   67% {
//     border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
//     transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
//   }
// }

// @keyframes sliderShape2 {
//   0%, 100% {
//     border-radius: 60% 40% 50% 50% / 50% 60% 40% 50%;
//     transform: translate3d(0, 0, 0) scale(1);
//   }
//   50% {
//     border-radius: 80% 20% 70% 30% / 40% 60% 30% 70%;
//     transform: translate3d(0, -5px, 0) scale(1.1);
//   }
// }


body, html {
  @apply overflow-x-hidden;
}

::selection {
  background-color: $buff; /* Колір фону виділення */
  color: $white-smoke;           /* Колір тексту під час виділення */
}

.logo {
  @apply m-8 flex flex-row justify-between items-center;

  //width: 3rem;
  // display: flex;
  // flex-direction: row;

}

.logo-icon {
  @apply w-8 h-8 shrink-0;

  color: $penn-red;
  //margin-left: 1rem;
}

.btn-filled-red {
  @apply text-[#FEF7FE] bg-[#9B0D0F] hover:bg-[#7A0B0D] focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center;

  &.disabled {
    @apply cursor-not-allowed opacity-50;
  }

  &.small-btn,
  &.small {
    @apply py-1.5 px-4 text-xs;
  }

  &.pending-animation {
    position: relative;
    color: transparent !important;
    pointer-events: none;
    opacity: 0.5;

    & span {
      visibility: hidden;
      opacity: 0;
    }

    & svg {
      visibility: hidden;
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 2px solid transparent;
      border-top-color: $white-smoke;
      border-left-color: $white-smoke;
      border-right-color: $white-smoke;
      border-radius: 50%;
      animation: button-loading-spinner 1s linear infinite;
    }
  }
}

.btn-outline-red {
  @apply text-[$white-smoke] border-2 border-[#9B0D0F] hover:border-[#7A0B0D] text-[#9B0D0F] focus:outline-none font-medium rounded-lg text-sm px-5 py-2 text-center;

  &.with-icon {
    @apply flex flex-row items-center justify-center;
  }

  &.small-btn,
  &.small {
    @apply py-1.5 px-4 text-xs;
  }

  &.disabled {
    @apply cursor-not-allowed opacity-50;
  }

  &.pending-animation {
    position: relative;
    color: transparent !important;
    pointer-events: none;
    opacity: 0.5;

    & span {
      visibility: hidden;
      opacity: 0;
    }

    & svg {
      visibility: hidden;
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 2px solid transparent;
      border-top-color: $penn-red;
      border-left-color: $penn-red;
      border-right-color: $penn-red;
      border-radius: 50%;
      animation: button-loading-spinner 1s linear infinite;
    }
  }
}


body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: #9B0D0F; /* Gray-700 */
  border-radius: 2px;
}

body::-webkit-scrollbar-track {
  background-color: #FEF7FE; /* Gray-100 */
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}